# udev rule to allow user access to m8 mouse
#
# Install: sudo cp 90-m8mouse.rules /etc/udev/rules.d/
#          sudo udevadm control --reload-rules && sudo udevadm trigger
#          (then unplug/replug mouse or reboot)
#
# Option 1: uaccess tag (works on modern systemd systems)
SUBSYSTEMS=="usb", ATTR{idVendor}=="1bcf", ATTR{idProduct}=="08a0", TAG+="uaccess"

# Option 2: If uaccess doesn't work, uncomment below and add yourself to plugdev:
#           sudo usermod -aG plugdev $USER (then log out/in)
#SUBSYSTEMS=="usb", ATTR{idVendor}=="1bcf", ATTR{idProduct}=="08a0", MODE="0666", GROUP="plugdev"
